<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Program 5</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  </head>
  <style>
	body,h1 {font-family: "Raleway", sans-serif}
	body, html {height: 100%}
	.bgimg {
	  background-image: url("static/pingu.jpg");
	  min-height: 100%;
	  background-position: center;
	  background-size: cover;
	}
	.center_block {
		display: block;
	 	margin-right: auto;
 		margin-left: auto;
	}
	label {
	    display: inline;
	    background-color: #FFAA3B;
	    padding: 0.5em 1em;
	    box-decoration-break: clone;
	}
  </style>
  <body>
  	<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
	  	<div class="w3-display-middle">
	  		<div style="background-color:#000000; text-align:left; vertical-align: middle; padding:25px 25px"> 
	  		 	<h1 class="w3-jumbo w3-animate-top">TriviaGame</h1>
	   			<p class="w3-large w3-center w3-text-white">Choose Category:</p> 
	   		</div>
		    <div style="background-color: #000000; position:relative; text-align: center">
			    <form action="/choose_category" method="post">
			    	<!-- <input type="submit" value="Start Game"></input> -->
			    	<input type="submit" name="choice" value="Random"></input><br></br>
				    <input type="submit" name="choice" value="Video Games"></input><br></br>
				    <input type="submit" name="choice" value="Anime"></input><br></br>
				    <input type="submit" name="choice" value="Film"></input><br></br>
				    <input type="submit" name="choice" value="Music"></input><br></br>
				    <input type="submit" name="choice" value="Animals"></input><br></br>
				    <input type="submit" name="choice" value="Mythology"></input><br></br>
			    </form>
			</div>
			<form action="/leaderboard" method="get">
				<div style="background-color: #FFFFFF; text-align:center; position:relative;">
					<p class="w3-large w3-center w3-text-black">See Leaderboard</p> 
					<input class="center-block" type="submit" name="leaderboard" value="Leaderboard">Leaderboard</input> 
				</div>
			</form>
		</div>
	</div>
  </body>
</html>